.card {
  position: relative;
}

.card img {
  max-width: 100%;
  display: block;
  border: 2px solid #fff;
  border-radius: 6px;
}

.card-back {
  cursor: pointer;
  transition: transform 0.2s ease-in;
  transition-delay: 0.2s;
}

.card-front {
  position: absolute;
  transition: transform 0.2s ease-in;
  transform: rotateY(90deg);
  transition-delay: 0s;
}

.flipped .card-back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}

.flipped .card-front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}
